doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title Flip Clock
		link(rel='stylesheet' href='css/style.css')
	body
		
		// Start .wrapper
		div.wrapper 
			
			// Start .clock
			div.clock.clearfix
				
				// Start .number-box-hours
				div.number-box.number-box-hours
		
					div.ampm
						span.am am
						span.pm pm
		
					span.number#hours
				
				// Starts .number-box-minutes
				div.number-box.number-box-minutes
					
					span.number#minutes

				// Starts .number-box-seconds
				div.number-box.number-box-seconds
					
					span.number#seconds

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
		script(src="js/scripts.js")