doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title Flip Clock
		link(rel='stylesheet' href='css/style.css')
	body
		
		// Start .wrapper
		div.wrapper 
			
			// Start .clock
			div.clock.clearfix
				
				// Start .number-box-hours
				div.number-box.number-box-hours
		
					div.ampm
						span.am am
						span.pm pm
		
					span.number 8
				
				// Starts .number-box-minutes
				div.number-box.number-box-minutes
					
					span.number 32

				// Starts .number-box-seconds
				div.number-box.number-box-seconds
					
					span.number 18